@import "~bootstrap/scss/functions";
@import "./helpers/variables"; //自定義變數
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/bootstrap";


ul{
    list-style-type: none;
}

.bg-position-center{
   background-position: center;
}
.bg-cover{
   background-size: cover;
}
